<%= javascript_pack_tag "application" %>

<div class="wrapper">
	<%= render partial: "shared/sidebar" %>
    <div class="main">
        <%= render partial: "shared/topbar" %>

        <div id="app"></div>
      
        <%= render partial: "shared/footer" %>
    </div>
</div>